body {
  background-color: #f8f9fa;
}

@font-face {
  font-family: "Starbim";
  src: url("./fonts/Starbim.ttf");
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.topbar a {
  text-decoration: none;
  color: inherit;
}

.topbar h1 {
  margin-left: 20px;
  font-family: "Starbim";
  background: linear-gradient(to left, #c6e0ff, #aecbeb, #83b0e1, #71a5de);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
}

.topbar-right {
  margin-right: 10px;
}

.profile-link {
  color: black;
}

.login-signup-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.login-signup-buttons button {
  white-space: nowrap;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.welcome-banner {
  width: 100%;
  background: radial-gradient(circle, #c6e0ff, #aecbeb, #83b0e1, #71a5de);
  text-align: center;
  padding: 40px 20px;
}

.welcome-banner h2 {
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.welcome-banner h3 {
  color: black;
}

.login-signup-buttons button {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 15px;
}

.login-signup-buttons a:hover button {
  transform: scale(1.2);
  background-color: #71a5de;
  color: white;
}

.search-bar {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 30px;
  width: 300px;
  margin-bottom: 15px;
}

.welcome-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.welcome-buttons button {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 15px;
}

.quiz:hover,
.browse:hover {
  background-color: black;
  color: white;
}

.profiles-section {
  text-align: center;
}

.profiles {
  display: grid;
  padding: 15px 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-left: auto;
}

.profile-card {
  background-color: #cbb2fe;
  border-radius: 7.5px;
  height: 200px;
  padding-top: 10px;
  font-size: 15px;
}
