.browse-page {
  padding: 40px;
  min-height: 100vh;
  background-color: #aecbeb;
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.filter-select {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  background-color: #f8f9fa;
  font-size: 12.5px;
}

.filter-select:hover {
  background-color: white;
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.outfit-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.outfit-card {
  margin: 10px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.25s ease;
  box-shadow: 4px 5px white;
  aspect-ratio: 1 / 1.25;
  display: flex;
  flex-direction: column;
}

.outfit-card:hover {
  transform: translateY(-3px);
}

.outfit-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
