.profiles a,
.profiles a:visited,
.profiles a:hover,
.profiles a:active {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.profiles {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  gap: 30px;
}

.profiles-section h2 {
  margin-top: 30px;
}
